// Typo

@mixin typo-title($unit) {
    font-size: $unit * 0.8;

    @include laptop13 {
        font-size: $unit * 0.95;
    }

    @include laptop {
        font-size: $unit * 1;
    }

    @include pc {
        font-size: $unit * 1.1;
    }
}

@mixin typo($unit) {
    font-size: $unit * 1.1;

    @include laptop13 {
        font-size: $unit * 0.95;
    }

    @include laptop {
        font-size: $unit * 1;
    }

    @include pc {
        font-size: $unit * 1.1;
    }

    @include bigPc {
        font-size: $unit * 1.15;
    }
}
